APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:thNJHJQaqj/qVDZf2YT+u+cv0Qnjt10Y998PDDhkrpQ=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database credentials
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=roota
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_ENCRYPTION=ssl

#We are going to pull the bellow informations form the database
# MAIL_HOST=example.com
# MAIL_PORT=465
# MAIL_USERNAME=shusanto@example.com
# MAIL_PASSWORD=password
# MAIL_FROM_ADDRESS=shusanto@example.com
# MAIL_FROM_NAME=Shusanto

#We are going to pull the bellow informations form the database
# IMAP_HOST=example.com
# IMAP_PORT=993
# IMAP_ENCRYPTION=ssl
# IMAP_VALIDATE_CERT=true
# IMAP_USERNAME=shusanto@example.com
# IMAP_PASSWORD=password
# IMAP_DEFAULT_ACCOUNT=default
# IMAP_PROTOCOL=imap

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
